#main{
    position: relative;
}

#first{
    position: relative;
    width: 240px;
    height:414px;
    border: 5px solid black;
    left:500px;
    top:120px;
    border-radius: 15px;
    background-color: rgba(15, 45, 218, 0.445);
    
}

#txt{
    position: relative;
    width: 210px;
    height:65px;
    left:10px;
    top:18px;
    border-radius: 10px;
    border:5px solid black;
    background-color:grey;
    font-size: 20px;
    font-weight: bolder;
    color:black;
    font-family: 'Orbitron', sans-serif;
}
#btn1{
    position: relative;
    width: 50px;
    height:50px;
    border-radius: 6px;
    background-color:whitesmoke;
    color:red;
}
#btn2{
    position: relative;
    width: 50px;
    height:50px;
    border-radius: 6px;
    background-color:whitesmoke;
    color:red;
}
#btn3{
    position: relative;
    width: 50px;
    height:50px;
    border-radius: 6px;
    background-color:whitesmoke;
    color:red;
}
#btn4{
    position: relative;
    width: 50px;
    height:50px;
    border-radius: 6px;
    background-color:whitesmoke;
    color:red;
}
#btn5{
    position: relative;
    width: 50px;
    height:50px;
    border-radius: 6px;
    background-color:whitesmoke;
    color:red;
}
#btn6{
    position: relative;
    width: 50px;
    height:50px;
    border-radius: 6px;
    background-color:whitesmoke;
    color:red;
}
#btn7{
    position: relative;
    width: 50px;
    height:50px;
    border-radius: 6px;
    background-color:whitesmoke;
    color:red;
}
#btn8{
    position: relative;
    width: 50px;
    height:50px;
    border-radius: 6px;
    background-color:whitesmoke;
    color:red;
}
#btn9{
    position: relative;
    width: 50px;
    height:50px;
    border-radius: 6px;
    background-color:whitesmoke;
    color:red;
}
#btn0{
    position: relative;
    width: 50px;
    height:50px;
    border-radius: 6px;
    background-color:whitesmoke;
    color:red;
}
#add{
    position: relative;
    width: 50px;
    height:50px;
    background-color:black;
    color:red;
    border-radius: 6px;
    font-size: 20px;
    top:3px;
}
#sub{
    position: relative;
    width: 50px;
    height:50px;
    background-color:black;
    color:red;
    border-radius: 6px;
    font-size: 30px;
    top:6px;
}
#mul{
    position: relative;
    width: 50px;
    height:50px;
    background-color:black;
    color:red;
    border-radius: 6px;
    font-size: 30px;
    top:5px;
}
#div{
    position: relative;
    width: 50px;
    height:50px;
    border-radius: 6px;
    background-color:black;
    color:red;
    font-size: 20px;
    top:3px;
}
#dot{
    position: relative;
    width: 50px;
    height:50px;
    background-color:black;
    color:red;
    border-radius: 6px;
    font-size: 30px;
    top:6px;
    
}
#eql{
    position: relative;
    width: 106px;
    height:50px;
    
    background-color: rgb(201, 182, 10);
    border-radius: 6px;
    
}
#clear{
    position: relative;
    width: 104px;
    height:50px;
    background-color:rgb(160, 7, 7);
    border-radius: 6px;
    font-weight: bold;
    
}

#del{
    position: relative;
    width: 50px;
    height:50px;
    background-color: rgb(160, 7, 7);
    border-radius: 6px;
    
}

#a{
    position: relative;
    top:48px;
    left:10px;
}
#b{
    position: relative;
    top:44px;
    left:10px;
}

#c{
    position: relative;
    top:40px;
    left:10px;
}
#d{
    position: relative;
    top:36px;
    left:10px;
}

#a1{
    position: relative;
    top:52px;
    left:10px;
}



body{
    background-image: url(https://github.com/jerinbose/calculator/blob/main/fullblackjb.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

::placeholder{
    color:black;
    opacity: 0.8;
}


@media screen and (max-width:1200px) {
    

    #first{
        position: relative;
        left:300px;
        top:80px;
    }
}

@media screen and (max-width:992px) {
    

    #first{
        position: relative;
        left:300px;
        top:20px;
    }
}

@media screen and (max-width:768px) {
    

    #first{
        position: relative;
        left:200px;
    }
}
